@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
        
html {
    overflow: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: calc(var(--vh, 1vh) * 100); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #1c1c1e;
}
    :root {
        --vh: 100vh; 
    }
        .background {
            background: linear-gradient(160deg, #00d2ff, #3a7bd5);
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            height: 100vh;
            width: 100vw;
            position: absolute;
        }

.container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    height: calc(var(--vh, 1vh) * 40); 
    position: relative;
}
    @media (max-height: 840px) {
        .container {
            height: calc(var(--vh, 1vh) * 50); 
        }
    }
    @media (max-height: 640px) {
        .container {
            height: calc(var(--vh, 1vh) * 60); 
        }
        .next-button {
            height: 4%;
            font-size: 18px;
        }
    }
    @media (max-height: 440px) {
        .container {
            top: 4vh;
            position: absolute;
            height: calc(var(--vh, 1vh) * 65); 

        }
    }
    

    .question-container {
        margin-bottom: 20px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        max-width: 600px; 
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }
        .end-icon {
            font-size: 0.9em; 
        }
        .next-icon {
            vertical-align: middle;
            font-size: 0.8em; 
        }
    

#container-top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    top: 0;
    flex-direction: column;
    height: 45%;
}

#container-bot {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    bottom: 0;
    flex-direction: column;
    height: 60%;
}

    .answers {
        position: absolute;
        top: -1vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0; 
        box-sizing: border-box; 
    }
        @media (max-height: 680px) {
            .answers {
                top: -2vh;
            }
        }
        @media (max-height: 580px) {
            .answers {
                top: -5vh;
            }
        }

    .answers div {
        width: 100%; 
        max-width: 100%; 
        margin-bottom: 10px;
        padding: 10px;
        border: 2px solid transparent;
        cursor: pointer;
        background-color: #f4f4f4;
        transition: background-color 0.3s, border-color 0.3s;
        text-align: center;
        box-sizing: border-box; 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: clamp(14px, 2vw, 16px); 
        
    }
        @media (max-height: 440px) {
            .answers div {
                height: 35px;
                margin-bottom: 8px;
            }
        }
    .answers div:hover {
        background-color: #f4f4f4;
        border-color: #999;
    }

    .answers div.correct {
        border-color: green;
        background-color: #d4edda;
    }

    .answers div.incorrect {
        color: #999;
        cursor: not-allowed;
        background-color: #f8d7da;
    }


#title {
    position: absolute;
    top: 0;
    font-size: 12px;
}
#question-display {
    width: 80%;
    position: relative;
}
#score {
    font-size: 35px;
    font-weight: bold;
}
#time-score {
    font-size: larger;
}

#restart-button {
    width: 48%;
    position: absolute;
    bottom: -18%;
    height: 15%;
    left: 1%;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: clamp(14px, 2vw, 18px); 
    border: none;
    cursor: pointer;
}
    #restart-button:hover {
        background-color: #ddd;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    #restart-button i {
        margin-left: 5px;
    }
#home-button {
    width: 48%;
    right: 1%;
    position: absolute;
    bottom: -18%;
    height: 15%;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: clamp(14px, 2vw, 18px); 
    border: none;
    cursor: pointer;
}
    #home-button:hover {
        background-color: #ddd;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    #home-button i {
        margin-left: 5px;
    }

#pass-button {
    width: 20%;
    height: 10%;
    top: -3.75%;
    left: 0;
    position: absolute;
    z-index: 100;
    font-size: clamp(15px, 2vw, 18px); 
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
    #pass-button:hover {
        cursor: pointer;
    }
    #pass-button i {
        margin-right: 5px;
    }
    @media (max-width: 840px) {
        #pass-button {
            width: 28%;
        }
    }
#pass-button-display {
    width: 20%;
    height: 10%;
    top: -3.75%;
    left: 0;
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 101;
}
    @media (max-width: 840px) {
        #pass-button-display {
            width: 28%;
        }
    }
        #skip-icon {
          position: absolute; 
          left: -50px; 
          opacity: 0; 
          font-size: 100px;
          color: #999;
          z-index: 1000;
        }
    
        @keyframes moveAndPause {
          0% {
            left: -50px; 
            opacity: 0; 
          }
          50% {
            left: 50%; 
            transform: translateX(-50%); 
            opacity: 1; 
            font-size: 150px;
          }
          70% {

            left: 50%;
            transform: translateX(-50%); 
            opacity: 1;
          }
          78% {
            opacity: 0;
          }
          100% {
            left: 100vw;
            opacity: 0; 
            transform: translateX(0);
          }
        }
    
        .move-right {
          animation: moveAndPause 1s ease-out forwards;
        }

.next-button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    bottom: -30%;
    height: 25%;
    border-radius: 8px;
    font-size: large;
    z-index: 100;
    display: none; 
    width: 70%;
    max-width: 300px;
    font-weight: bolder;
}
    @media (max-height: 640px) {
        .next-button {
            font-size: 18px;
        }
    }
.next-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.timer {
    font-size: 18px;
    font-weight: bold;
}
.timer-container {
    top: -2vh;
    right: 2vh;
    position: absolute;
    background-color: white;
    height: 60px;
    width: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.quiz-end-container {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
    .quiz-end-container p {
        font-size: 20px;
        margin: 10px 0;
    }