#show-menu-popup {
    position: absolute;
    top: 1.5vh;
    right: 1.5vh;
    color: white;
    font-size: clamp(22px, 2vw, 30px); 
}
    #show-menu-popup i {
        margin-left: 5px;
        margin-right: 3px;
    }
    #show-menu-popup:hover {
        color: #ddd;
        cursor: pointer;
    }
    
#menu-popup-container {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    max-height: 80%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    z-index: 1000; 
    animation: fadeIn 0.5s ease-in-out;
    height: auto;
    
}
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @media (max-width: 1540px) {
        #menu-popup-container {
            width: 45%;
        }
    }
    @media (max-width: 940px) {
        #menu-popup-container {
            width: 60%;
        }
    }
    @media (max-width: 540px) {
        #menu-popup-container {
            width: 75%;
        }
    }
    @media (max-height: 440px) {
        #menu-popup-container {
            overflow-y: scroll;
        }
    }

#menu-popup-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
.menu-button {
    width: 80%;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    background-color: white;
    border: 2px solid black;
    color: black;
}
    .menu-button i {
        margin-right: 10px;
    }
    .menu-button:hover {
        background-color: #ddd;
        cursor: pointer;
    }
#top-menu-popup {
    position: relative;
    top: 0;
    color: #999;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.text-footer {
    font-size: 10px;
    margin-top: 40px;
    margin-bottom: 5px;
}